!link_colour = #155a94
!link_hover = #999

body
  :font-family "Lucida Grande", sans-serif
  :background #ffbed3 url(/images/main.jpg) no-repeat 0 0
  :color #fff
  
a
  :color = !link_colour
  :text-decoration none
  &:hover
    :color = !link_hover

ul
  :margin 0
  :padding 0
  
#header
  :background #e07198 url(/images/main.jpg) no-repeat 0 0
  :height 93px
  :width 100%
  h1
    :float left
    :width 300px
    a
      :font-size 1em
      :line-height normal
      :position relative
      :width 300px
      :height 93px
      :float left
      :display block
      span
        :position absolute
        :top 0
        :left 0
        :width 300px
        :height 93px
        :background url(/images/main.jpg) no-repeat 0 0
    
  ul#nav
    :float left
    :width auto
    :margin 20px 0 0 10px
    li
      :float left
      :margin 0 30px
      :width auto
      :list-style none
      a
        :display block
        :width auto
        :padding 3px 10px
        :text-transform uppercase
        :color #fff
        :text-decoration none
        :font-size 1.2em
        :line-height normal
        &:hover, &:selected
          :color #ddd
.mini_container
  :padding 20px 30px
  :background #ffbed3
  :width 540px
  :margin 50px 0 0 75px
  :text-align left
  :-moz-border-radius 20px
  :-webkit-border-radius 20px
  :display block
  :opacity 0.8
  h2
    :font-size 1.6em
    :line-height normal
    :margin 0
  h3
    :font-size 1.4em
    :line-height normal
    :margin 0
  p
    :color #333
    :margin 0
    :font-size 1.1em
    :line-height normal
#home .mini_container
  :display none
  
.packages.mini_container
  :width 205px
  :float left
  :margin-bottom 50px