.mini_container
  %h2 About Us
  %p We at Fairytale Party thrive on being able to bring magical experiences to children. Our professional approach and attention to detail all contribute to making your child's special day even more memorable.
  %br
  %p Our staff are CRB checked, giving you peace of mind, as well as being experienced in entertaining at children's parties.