.mini_container
  %h2 Ever wanted a princess to come to your child's party?
  %p Our princesses are Cinderella, Belle, Sleeping Beauty, Tinkerbell and Fairy Bubbles. Call us today on 07877 137281 and see how we can bring some extra magic to your child's next party.
  %br
  %p We're based in the North East of England, and cover most of the region. Give us a call, we'd love to hear from you and discuss your party requirements.

.packages.mini_container
  %h2 Package One: Character Visit
  %p Have your child's favourite character or princess turn up at their party. Imagine the fun and surprise when 'Cinderella' or 'Tinkerbell' turns up to their special day. The character will provide entertainment and interaction for all the children at the party. This is a truly magical experience that every child will love.
  
.packages.mini_container
  %h2 Package Two: The Party Experience
  %p We organise the party for you. Let us run your party, which includes: the food, party games and entertainment with our princesses. This is a great way for busy parents to relax and enjoy the party as much as the kids.