.mini_container
  %h2 Eve and Co Productions is proud to launch Fairytale Party in the North East of England, bringing a princess right to your party. 
  %p Be one of the first in your area to have a princess at your party,
  %p Our princesses are Cinderella, Belle, Sleeping Beauty and Fairy Bubbles. Call us today on 07590 466417 and see how we can bring some extra magic to your child's next party.
  %br
  %p Give us a call, we'd love to hear from you and discuss your party requirements.

.packages.mini_container
  %h2 Package One: Character Visit
  %p.price &pound;95.00
  %ul 
    %li Telephone call from princess to the birthday girl the night before the party
    %li Character visit of your chosen princess along with facepainter 'Miss Make Me Up'
    %li Up to an hour of princess pampering and princess fun
    %li Princess Face Painting
    %li Princess costumes for each child to dress in for party
    %li Crowning ceremony including certificates
    %li 2 royal games (prizes included)
    
  %p This package is ideal for up to 15 children
    
  
.packages.mini_container
  %h2 Package Two: The Party Experience
  %p.price &pound;225.00
  %ul 
    %li Telephone call from princess to the birthday girl the night before the party
    %li 3 Character visit of your chosen princesses along with facepainter 'Miss Make Me Up and Miss Make a Wish'
    %li Up to 2 hours of princess pampering and princess fun
    %li Princess Face Painting
    %li Princess costumes for each child to dress in for party
    %li Crowning ceremony including certificates
    %li 3 royal games (prizes included)
    %li Princesses sing birthday song to child
    %li Royal Dance off
    %li Photo opportunity
    
  %p This package is ideal for up to 30 children